{% extends 'base.html' %}

{% block title %}新規登録{% endblock title %}

{% block content %}
    <h2>新規作成</h2>
    <form method="post" class="p-4 m-4 bg-light border">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
            {% for error in field.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" values="作成" class="btn btn-primary">
    </form>
{% endblock content %}